<div class="details">
  <div class="droite">
    {{>listeEcuriePartial}}
  </div>
  <div class="gauche">
    {{#if detailsEcurie}}
    <div class="eccuu">
      <div class="imgecuu">
        <img class="imgecuu" src="/image/ecurie/{{detailsEcurie.img}}" alt="image de l'écurie">
      </div>
      <div class="infoecuu">
        <h1>Nom : </h1><p>  {{detailsEcurie.nom}}</p><br>
        <h1>Directeur :</h1><p>  {{detailsEcurie.dir}}</p><br>
        <h1>Adresse :</h1><p>  {{detailsEcurie.adresse}}</p><br>
        <h1>Pays :</h1><p>  {{detailsEcurie.pays}}</p><br>
        {{#if detailsEcurie.pneu}}
        <h1>Fournisseur de pneumatique :</h1><p>  {{detailsEcurie.pneu}}</p><br>
        {{/if}}
      </div>
    </div>
    {{/if}}

    <br>

    <div class="pilici">
      {{#if pilotes}}
      <h1>Pilotes : </h1>
      {{#each pilotes}}
        <a class="infobulle" href="#" value="{{this.pilnum}}"> {{this.nompilote}} {{this.prenompilote}}</a><br>
        <p id="piltexteZoom{{this.pilnum}}" hidden>{{this.piltexte}}</p>
        <p id="phoadresseZoom{{this.pilnum}}" hidden>{{this.phoadresse}}</p>
      {{/each}}

    </div>


    <br>
    <br>
    <br>
      <div class="voittt">
        {{#each voiture}}
        <div class="imgppo">
          <img class="imgvoitureici" src="/image/ecurie/voiture/{{this.imgVoit}}" alt="Voiture" />
          <p>{{this.nomVoiture}}</p>
          <p>{{this.libelle}}</p>
        </div>
        {{/each}}
      </div>
      {{else}}
        {{#if detailsEcurie}}
        Cette écurie ne participe pas au championnat cette année
        {{/if}}
      {{/if}}
    </div>
</div>

<script src="/JS/infobulle.js" charset="utf-8"></script>
