{{>listeEcuriePartial}}

{{#each detailsEcurie}}
  <img src="/image/ecurie/{{img}}" alt="image de l'écurie">
  <h1>Nom : </h1><p>{{nom}}</p>
  <h1>Directeur :</h1><p>{{dir}}</p>
  <h1>Adresse :</h1><p>{{adresse}}</p>
  <h1>Pays :</h1><p>{{pays}}</p>
  {{#if pneu}}
  <h1>Fournisseur de pneumatique :</h1><p>{{pneu}}</p>
  {{/if}}
{{/each}}

{{#if pilotes}}
<h1>Pilotes : </h1>
{{#each pilotes}}
  <a class="infobulle" href="#" value="{{this.pilnum}}"> {{nompilote}} {{prenompilote}}</a><br>
  <p id="piltexteZoom{{this.pilnum}}" hidden>{{this.piltexte}}</p>
  <p id="phoadresseZoom{{this.pilnum}}" hidden>{{this.phoadresse}}</p>
{{/each}}
{{/if}}

{{#each voiture}}

  <img src="/image/ecurie/voiture/{{imgVoit}}" alt="Voiture" />
    <p>{{nomVoiture}}</p>
    <p>{{libelle}}</p>
{{/each}}

<script type="text/javascript">
this.zoom_image = function(){
  xOffset = 10;
  yOffset = 30;
  var texte;
  $(".infobulle").hover(
    function(e){
      var pilnum = $(this).attr('value');
      var idPhoto = "#phoadresseZoom" + pilnum;
      var idTexte = "#piltexteZoom" + pilnum;
      var legende = $(this).text() + "<br/>" + $(idTexte).text();

      $("#contenu").append("<div id='zoom'><img src='/image/pilote/"+ $(idPhoto).text() +"' alt='"+$(this).text()+"' />" + legende+"</div>");
      $("#zoom")
      .css("top",(e.pageY - xOffset) + "px")
      .css("left",(e.pageX + yOffset) + "px")
      .fadeIn("slow");
    },
    function(){
      $("#zoom").remove();
    }
  );

  $("a.infobulle").mousemove(function(e){
    $("#zoom")
    .css("top",(e.pageY - xOffset) + "px")
    .css("left",(e.pageX + yOffset) + "px");
  });
};

$(document).ready(function(){
  zoom_image();
});
</script>
<style media="screen">
#zoom { position: absolute;
     border: 1px solid #333;
     background: #333;
     padding: 3px;
     display: none;
     color: #fff;
}
#zoom img {
  height: 100px;
  width: auto;
}
</style>
