<div class="details">
  <div class="droite">
    {{> listeCircuitPartial}}
  </div>
  <div class="gauche">
    {{#if detailsCircuits}}
    <div class="cir">
      <div class="imgcir">
        <img class="imcirrr"src="/image/circuit/{{detailsCircuits.img}}">
      </div>
      <div class="infocirt">
        <h1>Nom : </h1><p> {{detailsCircuits.nom}}</p><br>
        <h1>Longueur :</h1><p>  {{detailsCircuits.lon}}</p><br>
        <h1>Nombre de spectateurs :</h1><p>  {{detailsCircuits.nombre}}</p><br>
        <h1>Pays :</h1><p>  {{detailsCircuits.pays}}</p><br>
      </div>
    </div>
    <p class="texttt">{{detailsCircuits.texte}}</p>
    {{/if}}
  </div>
</div>
