{{> listeRepPilPartial}}


  {{#each listePilote}}
  <div class="listePilote">
    <a href="/descPilote/{{this.pilnum}}"><h1>{{nom}} {{prenom}}</h1>
    {{#if this.img }}<img src="/image/pilote/{{img}}" alt="image du pilote">{{/if}}</a>
  </div>
  {{/each}}



{{#each descPilote}}
  {{#if this.img}}<img src="/image/pilote/{{img}}" alt="image du pilote">{{/if}}
  <h1>Nom : </h1><p>{{nom}} {{prenom}}</p>
  <h1>Date de naissance :</h1><p>{{formatDate this.date 'DD MMMM YYYY' }}</p>
  <h1>Nationalité :</h1><p>{{nation}}</p>
  <h1>Poids :</h1><p>{{poids}}</p>
  <h1>Taille :</h1><p>{{taille}}</p>

  {{#ifCond this.ecunom '==' NULL}}
  <h1>Ecurie :</h1><p>Pas d'écurie cette année</p>
   {{else}}
   <h1>Ecurie :</h1><p>{{ecurie}}</p>
  {{/ifCond}}

{{/each}}

{{#if sponsors}}
<h1>Principaux sponsors :</h1><br>
{{#each sponsors}}
  <h1>{{nomspon}}</h1><p>({{type}})</p>
{{/each}}
{{/if}}


{{#each descPilote}}
  <h1>Qui suis-je ?</h1><p>{{texte}}</p>
{{/each}}

{{#each images}}
<img src="/image/pilote/{{imgs}}" alt="image du pilote" class="imgPiloteEnPlus"></a>
{{/each}}
