<h1> Modifier un Pilote </h1>

<form action="/piloteModifie" method="POST">
  <input type="hidden" name="pilnum" value="{{pilote.pilnum}}"/>
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="pilnom" id="Nom" value="{{pilote.pilnom}}" required/>
  </div>
  <div class="row">
    <label class="auto" for="Prenom">Prenom</label>
    <input class="auto" type="text" name="pilprenom" id="Prenom" value="{{pilote.pilprenom}}" required/>
  </div>
  <div class="row">
    <label class="auto" for="Date">Date de naissance</label>
    <input class="auto" type="date" name="pildatenais" id="jour" value="{{formatDate pilote.pildatenais 'YYYY-MM-DD' }}" required />
  </div>
  <div class="row">
    <label class="auto" for="Natio">Nationalité</label>
    <select class="auto" name="paynum">
      <option value="{{pilote.paynum}}">{{pilote.paynat}}</option>
      {{#each nationalite}}
      <option value="{{this.paynum}}">{{this.paynat}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Ecurie">Ecurie</label>
    <select class="auto" name="ecunum">
      <option value="{{pilote.ecunum}}">{{pilote.ecunom}}</option>
      <option value="">pas d'écurie</option>
      {{#each nomEcurie}}
      <option value="{{this.ecunum}}">{{this.nom}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Point">Points</label>
    <input class="autoPetit" type="number" name="pilpoints" id="Points" value="{{pilote.pilpoints}}" />   pts
  </div>
  <div class="row">
    <label class="auto" for="Poids">Poids</label>
    <input class="autoPetit" type="number" name="pilpoids" id="Poids" value="{{pilote.pilpoids}}" required/>     kg
  </div>
  <div class="row">
    <label class="auto" for="Taille">Taille</label>
    <input class="autoPetit" type="number" name="piltaille" id="Taille" value="{{pilote.piltaille}}" required/>    cm
  </div>
  <div class="row">
    <label class="auto" for="Desc">Description</label>
    <textarea class="auto" name="piltexte" rows="5" cols="60" required>{{pilote.piltexte}}</textarea>
  </div>
  <button type="submit">MODIFIER</button>
</form>
