<h1><img class="logo" src="image/cat_pilote.png" alt="imgpilote"><br> Gestion des Pilotes </h1>
<a class="ajouter" href="/ajouterPilote/"><p><img src="/image/act_add.png"> Ajouter un pilote</p></a>

<table>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Date de naissance</th>
    <th>Actions</th>
  </tr>
  {{#each listePilote}}
  <tr>
    <td>{{this.nom}}</td>
    <td>{{this.prenom}}</td>
    <td>{{formatDate this.dateNai 'DD/MM/YYYY' }} </td>
    <td> <div class="modsup">
      <div class="mod">
        <a href="/modifierPilote/{{this.num}}"><img src="/image/act_edit.png"><p>Modifier</p></a>
      </div>
      <div class="sup">
        <a href="/supprimerPilote/{{this.num}}"><img src="/image/act_delete.png"><p>Supprimer</p></a>
      </div>
    </td>
  </div>
</tr>
{{/each}}
</table>

{{#if est_ajoute}}
<script src="/JS/estAjoutePilote.js" charset="utf-8"></script>
{{/if}}

{{#if est_supprime}}
<script src="/JS/estSupprimePilote.js" charset="utf-8"></script>
{{/if}}

{{#if est_modifie}}
<script src="/JS/estModifiePilote.js" charset="utf-8"></script>
{{/if}}
