<h1> Gestion des Pilotes </h1>
<a class="ajouter" href="/ajouterPilote/"><img src="/image/act_add.png"><p>Ajouter un pilote</p></a>

<table>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Actions</th>
      </tr>
      {{#each listePilote}}
        <tr>
            <td>{{nom}}</td>
            <td>{{prenom}}</td>
            <td>{{formatDate dateNai 'DD/MM/YYYY' }} </td>
            <td> <div class="modsup">
              <div class="mod">
                <a href="/modifierPilote/{{num}}"><img src="/image/act_edit.png"><p>Modifier</p></a>
              </div>
              <div class="sup">
                <a href="/supprimerPilote/{{num}}"><img src="/image/act_delete.png"><p>Supprimer</p></a>
              </div>
            </td>
            </div>
        </tr>
      {{/each}}
</table>

{{#if est_ajoute}}
<script type="text/javascript">
  $(document).ready(function() {
    alert("Le nouveau pilote a bien été ajouté !");
    document.location.href="/listerPilote";
  });
</script>
{{/if}}

{{#if est_supprime}}
<script type="text/javascript">
  $(document).ready(function() {
    alert("Le pilote a bien été supprimé");
    document.location.href="/listerPilote";
  });
</script>
{{/if}}

{{#if est_modifie}}
<script type="text/javascript">
  $(document).ready(function() {
    alert("Le pilote a bien été modifié");
    document.location.href="/listerPilote";
  });
</script>
{{/if}}
