<h1> Modifier un circuit </h1>

<form action="/circuitModifie" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="cirnum" value="{{circuit.cirnum}}"/>

  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="cirnom" id="Nom"  value="{{circuit.cirnom}}" required />
  </div>
  <div class="row">
    <label class="auto" for="Longueur">Longueur</label>
    <input class="auto" type="text" name="CIRLONGUEUR" id="Long" value="{{circuit.CIRLONGUEUR}}" required />
  </div>
  <div class="row">
    <label class="auto" for="pays">Pays</label>
    <select class="auto" name="paynum" required>
      <option value="{{circuit.paynum}}">{{circuit.paynom}}</option>
      {{#each pays}}
      <option value="{{this.paynum}}">{{this.paynom}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Personne">Nombre de spectateurs</label>
    <input class="autoPetit" type="number" name="CIRNBSPECTATEURS" id="Personne"  value="{{circuit.CIRNBSPECTATEURS}}" required/> personnes
  </div>

  <div class="row">
    <label class="auto" for="Desc">Description</label>
    <textarea class="auto" name="cirtext" rows="5" cols="60" required>{{circuit.cirtext}}</textarea>
  </div>
  <div class="row">
    <label class="auto" for="Image">Images</label>
    <img id="imageModifCircuit"
    src="/image/circuit/{{circuit.ciradresseimage}}"
    title="modifier l'image ..." alt="image circuit"
    onclick="inputFile()"
    style="height: 60px;">
    <input type="file" id="inputModifImgCir" name="image" onchange="changeImage()" hidden>
  </div>



  <button type="submit">MODIFIER</button>
</form>

<script type="text/javascript">
  function inputFile() {
    $('#inputModifImgCir').click();
  }
  function agrandire() {
    $('#imageModifCircuit').hover(function() {
      $('#imageModifCircuit').animate({'height': '70px'}, 'medium');
    },
    function () {
      $('#imageModifCircuit').animate({'height': '60px'}, 'medium');
    });
  }
  function changeImage() {
    var image = document.getElementById('imageModifCircuit');
	   image.src = URL.createObjectURL(event.target.files[0]);
  }
  $(document).ready(function() {
    agrandire();
  });
</script>
