<h1> Modifier un sponsor </h1>

<form action="/sponsorModifie" method="POST">
  <input type="hidden" name="sponum" value="{{sponsor.sponum}}"/>

  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="sponom" id="Nom" value="{{sponsor.sponom}}" required/>
  </div>
  <div class="row">
    <label class="auto" for="secteur">Secteur d'activite</label>
    <input class="auto" type="text" name="sposectactivite" id="Sec"  value="{{sponsor.sposectactivite}}" required/>
  </div>

  <div class="row">
    <label class="auto" for="Ecurie">Ecurie</label>
    <select class="auto" name="ecunum">
      <option value="{{finance.fecunum}}">{{finance.eecunom}}</option>
      <option value="">Aucune</option>
      {{#each nomEcurie}}
      <option value="{{this.num}}">{{this.nom}}</option>
      {{/each}}
    </select>
  </div>

  <button type="submit" >MODIFIER</button>
</form>
