<h1> Modifier une ecurie </h1>

<form action="/ecurieModifie" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="ecunum" value="{{ecurie.ecunum}}"/>
  <div class="row">
    <label class="auto" for="Nom">Nom</label>
    <input class="auto" type="text" name="ecunom" id="Nom" value="{{ecurie.ecunom}}" required/>
  </div>
  <div class="row">
    <label class="auto" for="Directeur">Directeur</label>
    <input class="auto" type="text" name="ecunomdir" id="Directeur" value="{{ecurie.ecunomdir}}" required />
  </div>
  <div class="row">
    <label class="auto" for="Adresse">Adresse du siege</label>
    <input class="auto" name="ecuadrsiege" type="text" value="{{ecurie.ecuadrsiege}}" required></input>
  </div>
  <div class="row">
    <label class="auto" for="Point">Points</label>
    <input class="auto" type="text" name="ecupoints" id="Points"  value="{{ecurie.ecupoints}}" required/>  pts
  </div>
  <div class="row">
    <label class="auto" for="Pays">Pays</label>
    <select class="auto" name="paynum" required>
      <option value="{{ecurie.paynum}}">{{ecurie.paynom}}</option>
      {{#each pays}}
      <option value="{{this.paynum}}">{{this.paynom}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label class="auto" for="Image">Images</label>
    <img id="imageModifEcu"
    src="/image/ecurie/{{ecurie.ecuadresseimage}}"
    title="modifier l'image ..." alt="image écurie"
    onclick="inputFile()"
    style="height: 60px;">
    <input type="file" id="inputModifImgEcu" name="image" onchange="changeImage()" hidden>
  </div>

  <button type="submit">MODIFIER</button>
  </form>

  <script type="text/javascript">
    function inputFile() {
      $('#inputModifImgEcu').click();
    }
    function agrandire() {
      $('#imageModifEcu').hover(function() {
        $('#imageModifEcu').animate({'height': '70px'}, 'medium');
      },
      function () {
        $('#imageModifEcu').animate({'height': '60px'}, 'medium');
      });
    }
    function changeImage() {
      var image = document.getElementById('imageModifEcu');
  	   image.src = URL.createObjectURL(event.target.files[0]);
    }
    $(document).ready(function() {
      agrandire();
    });
  </script>
